<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.30)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 kB 5.7 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.12.0 sqlparse-0.5.3

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
import sqlite3

In [4]:
con = sqlite3.connect("ChicagoCrimeData.db")
cur = con.cursor()
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 12.4 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 103.7 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 107.1 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 38.9 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 tzdata-2024.2

In [5]:
con = sqlite3.connect("ChicagoCensusData.db")
cur = con.cursor()
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
con = sqlite3.connect("ChicagoPublicSchools.db")
cur = con.cursor()
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Load the SQL magic module

In [8]:
%sql sqlite:///ChicagoCrimeData.db

In [9]:
%sql sqlite:///ChicagoCensusData.db

In [10]:
%sql sqlite:///ChicagoPublicSchools.db

In [11]:
%sql sqlite:///FinalDB.db

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [12]:
import pandas
df1 = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv")

In [13]:
import pandas
df2 = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv")

In [14]:
import pandas
df3 = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv")

In [15]:
df3.to_sql("CHICAGO_CENSUS_DATA",con,if_exists='replace',index=False,method="multi")

78

In [16]:
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS",con,if_exists='replace',index=False,method="multi")

566

In [17]:
df1.to_sql("CHICAGO_CRIME_DATA",con,if_exists='replace',index=False,method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [18]:
!pip install ipython-sql prettytable
import prettytable
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [19]:
%sql SELECT name FROM sqlite_master WHERE type='table'

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('CHICAGO_CENSUS_DATA',),
 ('CHICAGO_PUBLIC_SCHOOLS',),
 ('CHICAGO_CRIME_DATA',)]

In [20]:
%sql SELECT * FROM CHICAGO_CRIME_DATA limit 5;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)')]

In [21]:
%sql SELECT * FROM CHICAGO_CENSUS_DATA limit 5;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [54]:
%sql SELECT COUNT(*) from CHICAGO_CRIME_DATA;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [57]:
%sql SELECT community_area_name, community_area_number FROM CHICAGO_CENSUS_DATA WHERE per_capita_income < 11000;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [30]:
%sql SELECT Case_number  FROM CHICAGO_CRIME_DATA WHERE year < '2010';

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('HK587712',),
 ('HK456306',),
 ('HL793243',),
 ('HL149610',),
 ('HK361551',),
 ('HN200365',),
 ('HK108680',),
 ('HR271603',),
 ('HP320451',),
 ('HN484464',),
 ('HR582990',),
 ('HR535632',),
 ('HH486939',),
 ('HJ561433',),
 ('HR583513',),
 ('HK350670',),
 ('G256545',),
 ('HH201585',),
 ('G212935',),
 ('HL590300',),
 ('HL409680',),
 ('HM324025',),
 ('G662598',),
 ('HR261581',),
 ('HL680775',),
 ('HM543491',),
 ('HJ308632',),
 ('HK801112',),
 ('HJ652747',),
 ('G040244',),
 ('HJ415128',),
 ('HM803061',),
 ('HN731220',),
 ('HP691879',),
 ('HR149903',),
 ('HK728309',),
 ('HL005270',),
 ('HJ678713',),
 ('HJ710634',),
 ('HR385117',),
 ('HL177398',),
 ('HH702524',),
 ('HJ672058',),
 ('G376790',),
 ('HP317516',),
 ('HL382289',),
 ('HM392612',),
 ('HH869886',),
 ('HR460350',),
 ('HM117889',),
 ('HR576816',),
 ('HN421595',),
 ('HK454598',),
 ('HH657809',),
 ('HH316735',),
 ('G597730',),
 ('G736811',),
 ('G517474',),
 ('HP746347',),
 ('G056330',),
 ('HN772519',),
 ('HL353697',),
 ('HL725506',),
 ('HH696901',),
 ('HK815196',),
 ('HK103473',),
 ('HM556695',),
 ('HH558381',),
 ('HK498590',),
 ('HR703960',),
 ('HL646682',),
 ('G688026',),
 ('HJ466766',),
 ('HL632721',),
 ('HP579910',),
 ('HL718742',),
 ('HP714065',),
 ('HP716225',),
 ('HR408597',),
 ('HL240985',),
 ('HJ254782',),
 ('HK561262',),
 ('G419948',),
 ('HL177008',),
 ('HJ639869',),
 ('HM217017',),
 ('HL388623',),
 ('HN224900',),
 ('HR387668',),
 ('HJ294892',),
 ('HL745027',),
 ('G533278',),
 ('HH827769',),
 ('HH639427',),
 ('HK771992',),
 ('HH867007',),
 ('HJ575773',),
 ('HR136920',),
 ('G070193',),
 ('HJ724585',),
 ('HP121474',),
 ('G198370',),
 ('HJ723825',),
 ('HJ458342',),
 ('HP558812',),
 ('HN472326',),
 ('HK756778',),
 ('HH741961',),
 ('G140454',),
 ('HM378171',),
 ('HM673431',),
 ('HP352546',),
 ('HR286405',),
 ('HR195987',),
 ('HR217367',),
 ('HK243330',),
 ('HH262924',),
 ('HL613433',),
 ('HN568531',),
 ('HH619797',),
 ('HL269210',),
 ('HL567458',),
 ('HR674429',),
 ('HM200888',),
 ('HN335611',),
 ('HM337445',),
 ('HM244120',),
 ('HR342598',),
 ('HL187666',),
 ('HN553354',),
 ('HN784049',),
 ('HJ527694',),
 ('HM303461',),
 ('HM535632',),
 ('G134016',),
 ('HR125162',),
 ('G496261',),
 ('HJ842548',),
 ('HN280980',),
 ('HP689703',),
 ('HR345366',),
 ('HM661326',),
 ('HJ336995',),
 ('HK694552',),
 ('HJ760939',),
 ('HJ563089',),
 ('HH576932',),
 ('HR308948',),
 ('HK100758',),
 ('HJ620738',),
 ('HJ557529',),
 ('HL608698',),
 ('G323273',),
 ('HK577020',),
 ('HK162357',),
 ('HN778969',),
 ('HH657604',),
 ('G170513',),
 ('HN355411',),
 ('HK190723',),
 ('HL141298',),
 ('HR281750',),
 ('HL342355',),
 ('HJ624999',),
 ('HJ618818',),
 ('HR597126',),
 ('HN558484',),
 ('HR505781',),
 ('HN522324',),
 ('HN647052',),
 ('HN719188',),
 ('HK369511',),
 ('HL703172',),
 ('HM762800',),
 ('HN370211',),
 ('HR195962',),
 ('HM284854',),
 ('HL319228',),
 ('HR447925',),
 ('HM590293',),
 ('HP513177',),
 ('HL331611',),
 ('HN448271',),
 ('HH402660',),
 ('HN422493',),
 ('HP263901',),
 ('G577663',),
 ('HM360756',),
 ('HN275969',),
 ('HL660560',),
 ('HR399710',),
 ('HP243837',),
 ('HP157774',),
 ('HP340132',),
 ('HJ388435',),
 ('HN407116',),
 ('HJ532105',),
 ('HH729144',),
 ('HK328402',),
 ('HK743113',),
 ('HR185873',),
 ('HH692211',),
 ('HR668156',),
 ('HH463517',),
 ('HN182437',),
 ('HJ637197',),
 ('HH829588',),
 ('HL315870',),
 ('HJ222529',),
 ('HM535930',),
 ('HN213069',),
 ('HH343366',),
 ('HH106347',),
 ('HM507529',),
 ('HP258815',),
 ('HL111533',),
 ('HL414306',),
 ('HL330223',),
 ('HK751265',),
 ('HK348713',),
 ('HR206683',),
 ('HH154448',),
 ('HR307075',),
 ('HM437597',),
 ('G659211',),
 ('G375927',),
 ('HP325677',),
 ('HL300450',),
 ('HN246122',),
 ('HH149573',),
 ('HK450946',),
 ('HL548996',),
 ('HR696852',),
 ('HK481967',),
 ('HJ409442',),
 ('HR489129',),
 ('HR539548',),
 ('HL254965',),
 ('HR308245',),
 ('HP747058',),
 ('HN645348',),
 ('HL334216',),
 ('HK341632',),
 ('HH859922',),
 ('G611731',),
 ('HM757133',),
 ('HJ786817',),
 ('HM733422',),
 ('HH352862',),
 ('G652158',),
 ('HR140766',),
 ('HH605275',),
 ('HJ513676',),
 ('HH337319',),
 ('HH423186',),
 ('HN543219',),
 ('HN702776',),
 ('HR607189',),
 ('G654957',),
 ('HL131736',),
 ('HN519755',),
 ('G629024',),
 ('HL239939',),
 ('HK328522',),
 ('HJ349966',),
 ('G345035',),
 ('HH493814',),
 ('G161722',),
 ('HH208082',),
 ('HL213843',),
 ('HM422467',),
 ('HL446401',),
 ('HP661088',),
 ('HJ281736',),
 ('HN136243',),
 ('HJ580490',),
 ('HJ753917',),
 ('HJ642080',),
 ('HR480844',),
 ('HH405177',),
 ('HL472862',),
 ('G326063',),
 ('HL424420',),
 ('HR585012',),
 ('HN637742',),
 ('HJ776916',),
 ('HJ419340',),
 ('HH329720',),
 ('HM802052',),
 ('HJ804627',),
 ('HR190881',),
 ('G575031',),
 ('G122095',),
 ('HN595319',),
 ('G302291',),
 ('G057394',),
 ('HM590468',),
 ('HK749575',),
 ('HK485601',),
 ('HH460583',),
 ('HM576559',),
 ('HL611297',),
 ('HH292682',),
 ('G635735',),
 ('HN567387',),
 ('HR391350',),
 ('HM768251',),
 ('HH688935',),
 ('HK677648',),
 ('G158614',),
 ('HK310265',),
 ('HR314298',),
 ('HL415544',),
 ('HP265256',),
 ('HR392537',),
 ('HL266884',),
 ('HK238408',),
 ('HM195342',),
 ('HN144152',),
 ('HN544458',),
 ('HJ747227',),
 ('G021609',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [33]:
%sql SELECT * FROM CHICAGO_CRIME_DATA where primary_type = 'KIDNAPPING' and description like '%child%';

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [28]:
%sql SELECT distinct PRIMARY_TYPE from CHICAGO_CRIME_DATA WHERE location_description LIKE '%SCHOOL%';

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [29]:
%sql SELECT AVG(SAFETY_SCORE) as SAFETY_SCORE, [Elementary, Middle, or High School] from CHICAGO_PUBLIC_SCHOOLS group by [Elementary, Middle, or High School];

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(49.52038369304557, 'ES'), (49.62352941176471, 'HS'), (48.0, 'MS')]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [123]:
%sql SELECT community_area_name FROM CHICAGO_CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [129]:
%sql SELECT community_area_number FROM chicago_crime_data ORDER BY BEAT DESC LIMIT 1;

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[(23.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [35]:
%sql select community_area_name from chicago_census_data where hardship_index in ( select max(hardship_index) from chicago_census_data );

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [135]:
%sql select community_area_name from chicago_census_data where PERCENT_HOUSEHOLDS_BELOW_POVERTY = ( select max(PERCENT_HOUSEHOLDS_BELOW_POVERTY) from chicago_census_data );

   sqlite:///ChicagoCensusData.db
   sqlite:///ChicagoCrimeData.db
   sqlite:///ChicagoPublicSchools.db
 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>